body {
  background-color: #EDEDED; 
  color: white;
}

/* navigation bar */
.navbar-brand { 
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold;
  background-color:#0BADA6;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* a {
  color: #6D8092;
  font-size: 15px; 
} */

/* image size */
img {
  width: 100%;
  height: 100%;
}

/* border when selecting image */
.active, .panel:hover {
  border-color:#0BADA6;
  border-style: solid; 
}

/* box titles */
.title {
  color: #0BADA6;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; 
  padding-top: 25px; 
}

/* paragraph font and color */
p {
color: #6D8092;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px; 
}

/* box sizing */
.box {
  margin-top: 10px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  background-color: white; 
}


@media(max-width: 992px) {
.navbar-expand-lg{
background-color: #0BADA6;
}

.navbar {
  max-height: none; 
  padding: inherit;
}

.navbar div {
  margin: inherit; 
  background-color: white;  
}

.navbar-brand {
  padding: 10px; 
}

button { 
  margin-right: 30px; 
}

button: :focus{
  outline: 1px dotted;
  outline: 5px auto -webkit-focusring-color;
}